<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-messager" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-messager</name>
    <js-module name="cordova-plugin-messager" src="www/cordova-plugin-messager.js">
        <clobbers target="cordova.plugins.messager" />
    </js-module>

    <!-- android -->
    <platform name="android">
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Messager">
                <param name="ios-package" value="MQTTMessager"></param>
                <param name="onload" value="true"></param>
            </feature>
        </config-file>

        <!-- plugin source code -->
        <header-file src="src/ios/MQTTMessager.h"></header-file>
        <source-file src="src/ios/MQTTMessager.m"></source-file>

        <!-- MQTTKit Library -->
        <header-file src="src/ios/MQTTKit/MQTTKit.h"></header-file>
        <source-file src="src/ios/libMQTTKit.a" framework="true"></source-file>
    </platform>
</plugin>
