<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-messager" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-messager</name>
    <js-module name="cordova-plugin-messager" src="www/cordova-plugin-messager.js">
        <clobbers target="cordova.plugins.cordova-plugin-messager" />
    </js-module>
</plugin>
